@import "../css/styles.css";
@import url("../css/styles.css");

.card__form {
  display: flex;
  justify-content: center;
  padding: 2em;
  /* height: 300px; */
}

.card__fieldset {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  align-content: center;
  padding: 2em;
  border-radius: 20px;
  border: none;
  background-color: white;
  /* width: 600px; */
}

.card__fieldset h2 {
  justify-self: start;
  align-self: center;
}

.card__fieldset input {
  align-self: center;
  justify-self: center;
}

.card__fieldset p {
  padding: 1em;
  justify-self: center;
}

.card__fieldset ul {
  justify-self: center;
}

.card__fieldset li {
  display: inline-block;
  padding: 1em;
}

.card__fieldset a {
  text-decoration: none;
  color: black;
}
