@import "../css/styles.css";
@import url("../css/styles.css");

main {
  background-color: white;
  border-radius: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  margin: 6em 10em;
  grid-gap: 0.2em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 4em 6em;
}
