.card__form {
  display: flex;
  justify-content: center;
  padding: 2em;
  height: 35%;
  position: relative;
  margin: 1em auto;
}

.card__content {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 1.4em;
  border-radius: 20px;
  border: none;
  background-color: white;
  width: 40em;
  max-width: 40em;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card__content h2 {
  padding-left: 1em;
  font-size: 1.6rem;
  color: var(--primary-color);
  display: flex;
  justify-content: flex-start;
}

.card__question {
  font-weight: 400;
  font-size: 1.6rem;
  padding: 1em 1.2em;
  margin: 0 0 1em 0;
  text-align: center;
  color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

.displayed {
  font-weight: 400;
  font-size: 1.4rem;
  padding: 1em 1.2em;
  margin: 0 0 1em 0;
  text-align: center;
  color: var(--primary-color);
}
