.footer {
  background-color: white;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer__ulist {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
}

.footer li {
  display: inline-block;
}

.footer a {
  text-decoration: none;
}

.nav__svg {
  color: var(--primary-color);
  cursor: pointer;
  transition: transform 0.2s ease;
}

.nav__svg:hover {
  transform: scale(1.05);
  color: #3f729b;
}
