.header__nav {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0.2em;
  margin-bottom: 2em;
  width: 100%;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: white;
}

h1 {
  text-align: center;
  align-self: center;
  padding: 0.4em;
  font-size: 2rem;
  color: var(--primary-color);
}
