.card__content ul {
  justify-self: center;
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card__content li {
  display: inline-block;
  padding: 1em;
}

.card__content a {
  text-decoration: none;
  color: white;
  padding: 0.6em 2em;

  background-color: var(--primary-color);
  font-weight: 400;
  font-size: 1rem;
  border-radius: 5px;
}
